<h1 class="tlt">
    <ul class="texts">
        <li data-in-effect="fadeInLeftBig" data-out-shuffle="true">You've failed to crack level 1</li>   
        <li data-out-effect="flip">Try Again</li>
    </ul>
</h1>

